.stripedBox {
  background-image: linear-gradient(135deg, #ffffff 39.47%, #e6e5e0 39.47%, #e6e5e0 50%, #ffffff 50%, #ffffff 89.47%, #e6e5e0 89.47%, #e6e5e0 100%);
  background-size: 26.87px 26.87px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}